<div class="content-left">
	<img class="sample-img" src="../images/cinesnob.png">
	<img class="sample-img" src="../images/cinesnob_add.png">
</div>
<div class="content-right">
<h2 class="project-title">{{ page.title }}</h2>
Aplicación web en la que el usuario se registra y puede subir reseñas de película con imágen que puede subir de Google o de sus propias, con calificación y rese&ntilde;a. Adem&aacute;s puede ver las pel&iacute;culas que otros usuarios han subido, por calificaci&oacute;n y por d&eacute;cada.<br/>
Creada con
<ul class="used-tech">
	<li>Django(Python)</li>
	<li>JavaScript y librer&iacute;a jQuery</li>
	<li>HTML y CSS</li>
	<li>Heroku y AWS</li>
</ul>

<h3 class="link-project"><a href="http://obscure-anchorage-6463.herokuapp.com/califas/">Ver cinesnob en web</a></h3>
<h3 class="link-project"><a href="https://github.com/albertomadrazo/cinesnob.git">ver en Github.com</a></h3>
</div>