<header id="site-header">

<div id="main-logo"><img src="../images/avatar.jpg"></div>
<div id="name">
  <h1>alberto madrazo</h1>
  <p id="slogan">desarrollo web</p>
</div>

</div>
</header>
<div id="main-menu">
  <ul>
    <li><a href="#"><div class="arrow-down"></div></a></li>
    <li><a href="cv.html">CV</a><hr class="separator"></li>
    <li id="menu-portafolio"><a href="../portafolio">Portafolio</a><hr class="separator"></li>
    <li><a href="https://github.com/albertomadrazo">Github</a><hr class="separator"></li>
    <li class="contact"><a href="../contacto">Contacto</a><hr class="separator"></li>
    <li class="collapse-menu"><div class="arrow-up"></div></li>
  </ul>
</div>
