<div id="top-border"></div>
<header id="site-header">

  <div id="main-logo">
    <img src="../images/avatar.jpg">
  </div>

  <div id="name">
    <h1>Alberto Madrazo</h1>
    <p id="slogan">desarrollo web</p>
  </div>  

  <div id="icons">
    <a href="https://github.com/albertomadrazo" target="_blank"><img src="../images/github-icon.png" />
  </div>

</header>
<div id="main-menu">
  <ul>
    <li><a href="#"><div class="arrow-down arrow first"></div></a></li>
    <li id="menu-inicio"><a href="/index.html">inicio</a><hr class="separator"></li>
    <li id="menu-portafolio" class="current-page"><a href="../portafolio">portafolio</a><hr class="separator"></li>
    <li id="menu-github"><a href="https://github.com/albertomadrazo" target="_blank">github</a><hr class="separator"></li>
    <li id="menu-contacto" class="contact"><a href="../contacto">contacto</a><hr class="separator"></li>
    <li class="collapse-menu"><div class="arrow-up arrow"></div></li>
  </ul>
</div>
