/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*=====================================
    GENERAL
 =====================================*/

*{
    box-sizing: border-box;
}

body{
    font-family: $font-style;

}
#main-logo{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: 15px;
}
#main-logo img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    // border: 10px solid white;
}
#name{
    display: inline-block;
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bolder;
}

#name h1{
    max-width: 600px;
    font-size: 4.0em;

}

#site-header{
    background-color: $header;
    width: 100%;
    margin: 0 auto;
    height: 245px;
}

#slogan{
    margin-left: 50px;
    font-size: 1.3em;
    text-align: right;
}

#main-menu{
    background-color: $header;
    // background-color: rgba(0,0,0,0);
    // background-color: $header;
    height: 100px;
    font-size: 1.5em;
    text-align: center;
    position: relative;
    top: 20px;
    width: 100%;
    // border: 1px solid red;
}

#main-menu li{
    margin-right: 40px;
    display: inline;
    vertical-align: bottom;
}

#main-menu a{
    color: white;
}

#main-menu ul{
    top: 78px;
    position: relative;
    width: 100%;
}
#menu-portafolio{
    // position: relative;
}

.arrow-down{
    margin-left: 0.5em;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 0.2em solid transparent;
    border-right: 0.2em solid transparent;
    border-top: 0.2em solid white;
}

a{
    text-decoration: none;
}

.project-title{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}
#content{
    width: 90%;
    min-height: 600px;
    margin: 40px auto;

}

.content-left{

#container{
    width: 90%;
    background-color: #f7941d;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 10px;
}
    float: left;
    width: 70%;
}

.content-right{
    float: left;
    width: 30%;
}

footer{
    clear: both;
    // position: absolute;
    clear: both;
    position: relative;
    z-index: 10;
    width: 100%;
    background-color: black;
    color: white;
    height: 100px;
    bottom: 0;
    text-align: center;
}

footer p{
    margin: 0 auto;
    position: relative;
    top: 30px;
}
.used-tech{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.used-tech li{
    list-style-type: square;
}

.sample-img{
    max-width: 40%;
}

.link-project{
    text-align: center;
}


/* =========================================== 
    MediaQuery-Reporter Styles
   =========================================== */

@media only screen and(max-width:480px){
    #site-header{
        height: 173px;
        background-color: $header;
        text-align: center;
    }

    #name{
        position:relative;
        margin: 0 auto;
        margin-top: 20px;
    }

    #main-logo{
        display: none;
    }

    #name h1{
        font-size: 2.0em;
        left: 20px;
        margin: 0 auto;
        font-size: 2.7em;
    }
    #main-menu{
        padding: 0;
        margin: 0;
        // border: 1px solid red;
        text-align: left;

    }
    #main-menu ul{
        // border: 1px solid red;
        position: relative;
        top: 20px;
        padding: 0;
        margin: 0;
        margin-left: 15px;
    }
    #main-menu li{
        padding: 0;
        margin: 0;
        display: block;
        font-size: 1.0em;
        margin-right: 35px;
        color: white;
        // border: 1px solid red;
    }
    #main-menu a{
        color: white;
    }
    .contact{
        visibility: hidden;
    }

    ul{
        list-style-type: disc;
        list-style-position: inside;
    }
}

/* =========================================== 
    MediaQuery-Reporter Styles
   =========================================== */


@media only screen and(max-width:530px){
    .content-left, .content-right{ 
        width:100%;
    }
    #content{
        width: 90%;
    }
}


body:after{
    content: "less than 320px";
    font-size: 300%;
    font-weight: bold;
    position: fixed;
    bottom: 60px;
    width: 100%;
    text-align: center;
    background-color: hsla(1, 60%, 40%, 0.7);
    color: #fff;
}
@media only screen and (min-width: 320px){
    body:after{
        content: "320 to 480px";
        background-color: hsla(90, 60%, 40%, 0.7);
    }
}
@media only screen and (min-width: 480px){
    body:after{
        content: "480 to 768px";
        background-color: hsla(180, 60%, 40%, 0.7);
    }
}
@media only screen and (min-width: 768px){
    body:after{
        content: "768 to 1024px";
        background-color: hsla(270, 60%, 40%, 0.7);
    }
}
@media only screen and (min-width: 1024px){
    body:after{
        content: "1024px and up";
        background-color: hsla(360, 60%, 40%, 0.7);
    }
}